@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* background-color: #13312d; */
    background-color: #240046;
}

.container{
    width: 80%;
    height: 82vh;
    background-image: linear-gradient(to left,rgba(68,68, 68,) rgba(35, 35, 35, 0.767)); 
}